@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {--cor-principal: rgb(65, 162, 201);}

*{margin:0;padding:0;border:0;box-sizing: border-box;}
body{font-family: 'Roboto', sans-serif;background-color: #eeeeee;}

header{background-color: var(--cor-principal);padding: 30px;}
.nav {list-style: none;text-align: center;}
.nav li {display: inline;}
.nav li + li {margin-left: 30px;}
.nav li a {color: #fff; text-decoration: none;position:relative;transition: color ease-in-out .3s;}
.nav li a:hover, .nav li a.active {color: rgba(255, 255, 255, 0.8);}
.nav li a::after {content:"";width: 0;height: 2px;background-color: rgba(255, 255, 255, 0.8);position: absolute;left: 0;bottom: -5px;transition: width ease-in-out .3s;}
.nav li a:hover::after {width: 100%;transition: width ease-in-out .3s;}