{% extends "layout.njk" %}

{% block header %}
  <title>Módulo 4 - Student</title>
{% endblock %}

{% block content %}

<h3>Novo Estudante</h3>

<div class="card">
  <section class="avatar" style="background: url(https://oiguassu.com.br/wp-content/themes/fox/images/placeholder.jpg) no-repeat center;"></section>
  <section class="details">
    <form method="POST" action="/students">
      {% include "students/fields.njk" %}
    </form>
  </section>
</div>

{% endblock %}