{% extends "site/layout.njk" %}

{% block header %}
  <title>FoodFy - Receitas</title>
{% endblock %}

{% block content %}

<section class="receitas">
  <div class="container">
    <div class="receita">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        <h3>{{recipe.title}}</h3>
        <span>por {{recipe.author}}</span>

        <h4>Ingredientes <small>Mostrar</small></h4>
        <ul class="content">
          {% for ingredient in recipe.ingredients %}
          <li>{{ingredient}}</li>
          {% endfor %}
        </ul>

        <h4>Modo de preparo <small>Mostrar</small></h4>
        <ul class="content">
          {% for preparation in recipe.preparation %}
          <li>{{preparation}}</li>
          {% endfor %}
        </ul>

        <h4>Informações Adicionais <small>Mostrar</small></h4>
        <p class="content">{{recipe.information}}</p>

    </div>
  </div>
</section>

{% endblock %}