@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {--cor-principal: rgb(65, 162, 201);}

*{margin:0;padding:0;border:0;box-sizing: border-box;}
body{font-family: 'Roboto', sans-serif;background-color: #eeeeee;font-size: 16px;}

header{background-color: var(--cor-principal);padding: 30px;}
.nav {list-style: none;text-align: center;}
.nav li {display: inline;}
.nav li + li {margin-left: 30px;}
.nav li a {color: #fff; text-decoration: none;position:relative;transition: color ease-in-out .3s;}
.nav li a:hover, .nav li a.active {color: rgba(255, 255, 255, 0.8);}
.nav li a::after {content:"";width: 0;height: 2px;background-color: rgba(255, 255, 255, 0.8);position: absolute;left: 0;bottom: -5px;transition: width ease-in-out .3s;}
.nav li a:hover::after {width: 100%;transition: width ease-in-out .3s;}

h3 {color: var(--cor-principal);text-align: center;font-weight: bold;font-size: 20px;margin-top: 45px;text-transform: uppercase;}
.card {background-color: #fff;width: 800px;min-height: 400px;margin: 45px auto;display: grid;grid-template-columns: 40% 60%;box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1);animation: up 500ms ease-out;}

@keyframes up {
  from {opacity: 0;transform: translateY(20px);}
  to {opacity: 1;}
}

.details {padding: 32px;}
.details .item {border-top: 1px solid rgba(0,0,0,0.1);padding: 16px 0;}
.details .item:first-child {border:0;}
.details .item div:nth-child(1) {color: #777;font-size: 14px;line-height: 24px;letter-spacing: 0.7px;font-weight: normal;}
.details .item div:nth-child(2) {color: #555;font-weight: bold;font-size: 16px;}
.details .item span {padding: 8px 16px;background-color: var(--cor-principal);color: #fff;border-radius: 16px;margin:8px 4px 0 0; display: inline-flex;font-size: 11px;text-transform: uppercase;letter-spacing: 1px;}

input {width: 100%;outline: none;color: #555;font-weight: bold;font-size: 16px;}
input[type="radio"] {width: initial;margin-right: 4px;}
input::placeholder {font-size: 16px;font-weight: normal;}
button[type="submit"] {padding: 8px 32px;background-color: #57b363;color: #fff;border-radius: 4px;margin-top: 16px;width: 100%;cursor: pointer;}