@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{margin:0;padding:0;border:0}
body{font-family: 'Roboto', sans-serif;background-color: #eeeeee;}

header{background-color: blueviolet;padding: 30px;}
.nav {list-style: none;text-align: center;}
.nav li {display: inline;margin: 0 15px;}
.nav li a {color: #fff; text-decoration: none;transition: all ease .3s;}
.nav li a:hover {color: rgba(255, 255, 255, 0.8);}