{% extends "layout.njk" %}

{% block header %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Módulo 3 - Cursos</title>
{% endblock %}

{% block content %}

<section class="cards">
  <iframe src="https://rocketseat.com.br/{{course.id}}" frameborder="0"></iframe>
</section>

{% endblock %}