{% extends "admin/layout.njk" %}

{% block header %}
  <title>Módulo 4 - Student</title>
{% endblock %}

{% block content %}

<form method="POST" action="/admin/chefs">
  <div class="topo">
    <h3>Criando chef </h3>
    <button type="submit">Salvar chef</button>
  </div>
  {% include "admin/chefs/fields.njk" %}
</form>

{% endblock %}