{% extends "site/layout.njk" %}

{% block header %}
  <title>FoodFy - Receitas</title>
{% endblock %}

{% block content %}

<section class="chefs">
  <div class="container">
      <div class="grid-chefs">
        {% for chef in chefs %}
          <div class="box" id="{{chef.id}}">
            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
            <div>
              <h3>{{chef.name}}</h3>
              <p>{{chef.total_recipes}} receitas</p>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
</section>

{% endblock %}