<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  {% block header %}
    <title>FoodFy</title>
  {% endblock %}
  
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <div class="container">
    <a href="/"><img src="/assets/logo.png"></a>
    <nav>
      <a href="/site/sobre">Sobre</a>
      <a href="/site/receitas">Receitas</a>
      <a href="/site/chefs">Chefs</a>
    </nav>
    <form action="/site/search?" method="GET">
      <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
      <button type="submit">Buscar</button>
    </form>
  </div>
</header>

{% block content %}{% endblock %}

<footer>
    Todos direitos reservados, receitas Foodfy.
</footer>

<script src="/scripts.js"></script>
  
</body>
</html>